<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amm.rest.mapper.DayCandlePriceMapper">
    <select id="getCandlePrice" parameterType="String" resultType="com.amm.rest.vo.DayCandlePriceVO">
        SELECT *
        FROM AMM.DayCandlePrice dcp
        WHERE trade_date = CAST(#{date} AS date);
    </select>

    <select id="getCandlePricesDuringPeriod" parameterType="HashMap" resultType="com.amm.rest.vo.DayCandlePriceVO">
        SELECT *
        FROM AMM.DayCandlePrice
        WHERE trade_date BETWEEN CAST(#{start} AS date) AND CAST(#{end} AS date);
    </select>
</mapper>
